[project]
	state = active
[access "refs/heads/*"]
	label-Code-Review = -2..+2 group Asus Deb (Nexus 7 2013 LTE) Maintainers
	label-Code-Review = -2..+2 group Asus Flo (Nexus 7 2013 WiFi) Maintainers
	label-Verified = -1..+1 group Asus Deb (Nexus 7 2013 LTE) Maintainers
	label-Verified = -1..+1 group Asus Flo (Nexus 7 2013 WiFi) Maintainers
	submit = group Asus Deb (Nexus 7 2013 LTE) Maintainers
	submit = group Asus Flo (Nexus 7 2013 WiFi) Maintainers
	forgeAuthor = group Flo Kernel Direct Push
	forgeCommitter = group Flo Kernel Direct Push
	push = group Flo Kernel Direct Push
	pushMerge = group Flo Kernel Direct Push
